@import url("//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    box-sizing: border-box;
    font-family: "Circular Std Book", sans-serif;
}

#fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background-color: white;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    z-index: 1;
}

#navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    line-height: 3rem;
}

@media (min-width: 1150px) {
    #navbar {
        width: 1150px;
    }
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.nav-item {
    display: inline-block;
    margin: 0.5rem 1.5rem;
    color: black;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

main {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    margin-top: 5rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

@media (min-width: 1150px) {
    main {
        width: 1150px;
    }
}

#title {
    max-width: 40rem;
    margin-top: 25vh;
    margin-bottom: 2rem;
    font-size: 2.2rem;
    font-weight: 900;
    line-height: 2.6rem;
}

#bio-main {
    max-width: 40rem;
    margin-right: 2rem;
    font-size: 1.17rem;
    line-height: 1.75rem;
}

#bio-email {
    width: auto;
    margin-top: 1.2rem;
    display: inline-block;
    color: black;
    font-size: 1.17rem;
    text-decoration: none;
    line-height: 1.75rem;
    transition: 0.1s ease-in-out all;

    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    -webkit-transition: 0.2s ease-in-out all;
    -moz-transition:    0.2s ease-in-out all;
    -ms-transition:     0.2s ease-in-out all;
    -o-transition:      0.2s ease-in-out all;
    transition:         0.2s ease-in-out all;
}

#bio-email:hover {
    color: white;
    background-color: black;
}

#project-header {
    margin-top: 25vh;
    font-size: 2rem;
    font-weight: 700;
}

@media (max-height: 550px) {
    #title, #project-header {
        margin-top: 137.5px;
    }
}

#cards {
    display: grid;
}